body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1c1e29;
}

.home-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    height: 100vh;
}

.form-wrap{
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.label{
    margin-bottom: 20px;
}

.input-box{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}

.btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.join, .leave{
    background: #4aed88;
    width: 100px;
    margin-left: auto;
}

.join:hover, .leave:hover{
    background: #2b824c;
}

.room-create{
    margin-top: 20px;
    text-align: center;
}

.create-new{
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}

.create-new:hover{
    color: #368654;
    border-color: #368654;

}

.main-wrap{
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.nav-bar{
    background: #1c1e29;
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
}

.in-nav{
    flex: 1;
}

.connect-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.username{
    margin-top: 10px;
}

.leave{
    margin-top: 20px;
    width: 100%;
}

.custom{
    font-size: 20px;
    line-height: 1.6;
}